<div class="c-potato-detail">
	<a class="c-potato-detail__backlink" href='#'>Back</a>
	<h1 class="c-potato-detail__heading">
		<a href="{{link}}">{{title}}</a>
	</h1>

	<p>
		<a class="c-potato-metadata__author" href="https://www.flickr.com/photos/{{author_id}}">{{author}}</a> | 
		<span class="c-potato-metadata__date" >Published: {{#with date_taken}}{{day}}{{daySuffix}} {{month}} {{year}} at {{hours}}:{{minutes}}{{/with}}</span>
	</p>

	<li class="media">
		<img src="{{media}})" class="c-potato-detail__image media__img" />
	    <div class="media__body">
			<p>Lorem ipsum dolor sit amet, sea dolorem definitionem cu. Ei has liber accusam vituperata, his ei quidam fabulas molestie. An evertitur disputationi ius, dicta integre salutatus id quo, erat facilisis in vim. Scripta fabulas quaestio mel ne. An quas accumsan percipitur mea, probo malorum mediocrem ut sit, alia dicam et cum.</p>

			<p>At has utroque maiorum, cu cum viderer probatus scripserit? Utamur iracundia referrentur his ad! Blandit gubergren has et, at cibo zril sea. Eu nam iusto verear sanctus. Invidunt oporteat vel ad, mea no percipit vulputate. Mei zril populo posidonium te! Minim paulo exerci usu ea, dolorum vocibus cu mei, cu altera alienum qui.</p>

			<p>Tags: {{#each tags as |tag|}}<a href="https://www.flickr.com/photos/tags/{{tag}}">{{tag}}</a> {{/each}}</p>
	    </div>
	</li>
</div>